<main>
<div class="search-index">
<p id="notice"><%= notice %></p>

  <div class="search-home">
    <form action="/tutor_profiles" method="get">
      <input type="text" class="form-control" name="search" placeholder="enter subject or suburb...">
      <button type="submit">search</button>
    </form>
  </div>

<h1>Tutor Profiles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <% if current_user.has_role? :admin %>
      <th>Dob</th>
      <th>Street number</th>
      <th>Street address</th>
      <% end %>
      <th>Address</th>
      <th>Categories</th>
      <th colspan="<%= current_user.has_role? :admin ? '3' : '1' %> "></th>
    </tr>
  </thead>

  <tbody>
    <%= render @tutor_profiles %>
  </tbody>
</table>

<br>
</div>
</main>
