<main>
  <p id="notice"><%= notice %></p>
  <div class="profile">
    <div class="homework-update">
      <% if current_user.has_role? :tutor %>
        <%= render 'form_assess' %>
      <% elsif current_user.has_role? :student %>
        <%= render 'form_submission' %>
      <% end %>
    </div>
  </div>
</main>
