/*
 *
 *= require_tree .
 *= require_self
 */

@import url("whitespace_reset.css");

body {
  font: normal 18px "Exo", Helvetica, Arial, sans-serif;
  width: 100vw;
  color: #ffffff;
}

a {
  transition: color .25s ease;
  color: #ffffff;
  text-decoration: none;
}
a:hover {
  color: #45b3f3;
}
a:hover + li {
  border-bottom: 2px solid rgba(174, 42, 176, 0.8);
}
tr:hover {
  cursor: pointer;
}

nav {
  transition: all 0.5s ease;
  position: fixed;
  top: 0;
  width: 100vw;
  margin: 0 auto;
  padding-top: 3vw;
  img {
    width: 96px;
    position: relative;
    height: auto;
    left: 35px;
  }
}

nav ul {
  float: right;
  margin-right: 2vw;
  display: inline-block;
  font-size: 1.2em;
  font-weight: 100;
  text-align: center;
}
nav li {
  display: inline;
  margin: 0 1vw;
  padding: 0 1vw 8px 1vw;
  border-bottom: 2px solid #ffffff;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-style: groove;
}
nav li.active {
  border-bottom: 2px solid #45b3f3;
}

nav li.unread {
  border-bottom: 2px solid #F45B23;
}
nav a.unread {
  color: #F45B23;
}

nav.past-header {
    position: fixed;
    float: top;
    font-size: .9em;
    width: 100vw;
    margin: 0 auto;
    padding: 3vw 0 0 0;
    background-color: rgba(35, 50, 100, 0.9);
    content: '';
    z-index: 2;
    img {
      width: 76px;
      top: -2vw;
    }
}

header {
  width: 100vw;
  margin: 0 auto;
  text-align: center;
  background: linear-gradient(
      rgba(35, 50, 100, 0.8),
      rgba(50, 50, 50, 0.3)
    ), url("background_1.jpg") 0 0 no-repeat;
  background-size: cover;
}

header h1 {
  font-size: 4em;
  text-align: center;
  /*margin-top: 30px;*/
  padding-top: 30vh;
  padding-bottom: 15vh;
  letter-spacing: 8px;
  font-weight: 200;
}

header a.button-main {
  display: inline-block;
  background: linear-gradient(28deg, rgba(43, 62, 95, 1), rgba(200, 200, 200, 0.8), rgba(43, 62, 95, 1));
  color: #ffffff;
  font-size: 2.2em;
  font-weight: 200;
  letter-spacing: 2px;
  border-radius: 10px;
  padding: 24.5px 60px;
  vertical-align: bottom;
  margin: 0 0 30vw 0;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #1d6ac8;
  background-image: -moz-linear-gradient(#45b3f3, #1d6ac8);
  background-image: -webkit-linear-gradient(#45b3f3, #1d6ac8);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#45b3f3', endColorstr='#1d6ac8')";
  border-color: #1d6ac8 #1d6ac8 #1a5eb2;
}
.search-home button {
  font-family: "Exo";
  font-size: 1.5em;
  letter-spacing: 3px;
  border-style: hidden;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  padding: 15px 50px 20px 35px;
  cursor: pointer;
  /* margin-top: 3vw; */
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #1d6ac8;
  background-image: -moz-linear-gradient(#45b3f3, #1d6ac8);
  background-image: -webkit-linear-gradient(#45b3f3, #1d6ac8);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#45b3f3', endColorstr='#1d6ac8')";
  border-color: #1d6ac8 #1d6ac8 #1a5eb2;
}
.search-home {
  display: inline-block;
  padding-bottom: 38vh;
  margin: 0 auto;
}
.search-home input[type="text"] {
  padding: 10px 20px;
  font-size: 1em;
  font-weight: 200;
  letter-spacing: 2px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border-style: hidden;
  margin: 0;
  width: 300px;
  height: 50px;
}


.user {
  position: relative;
  top: 25vh;
  background: rgba(50, 50, 50, 0.5);
  color: #ffffff;
  max-width: 500px;
  margin: 0 auto;
  border-radius: 10px;
}
.user input {
  font-size: 0.9em;
}

.user-signup {
  font-size: 1em;
  font-weight: 200;
  letter-spacing: 2px;
  position: relative;
  max-width: 420px;
  margin: 0 auto;
  text-align: left;
  padding: 20px 0;
}

.user-signup h2 {
  font-size: 1.2em;
  font-weight: 300;
  margin-bottom: 3vw;
  text-align: center;
}

.user-signup input {
  float: right;
  height: 20px;
  margin: 0 0 0 10px;
  width: 160px;
  border-radius: 4px;
}

.user-signup .user-button {
  display: inline-block;
  color: #ffffff;
  font-size: 1em;
  font-weight: 100;
  letter-spacing: 1px;
  border-style: hidden;
  border-radius: 10px;
  padding: 4px 8px 28px 10px;
  cursor: pointer;
  margin-top: 3vw;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #1d6ac8;
  background-image: -moz-linear-gradient(#45b3f3, #1d6ac8);
  background-image: -webkit-linear-gradient(#45b3f3, #1d6ac8);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#45b3f3', endColorstr='#1d6ac8')";
  border-color: #1d6ac8 #1d6ac8 #1a5eb2;
}

.user-signup span {
  display: block;
  clear: both;
  padding-top: 30px;
}
.buffer-links {
  display: inline-block;
  margin: 1.5vw;
}
main {
  background: linear-gradient(
      rgba(35, 50, 100, 0.95),
      rgba(50, 50, 50, 0.8));
  padding: 20vh 0 5vw 0;
  min-height: 100vh;
}
.search-index .search-home {
  padding-bottom: 4vh;
  margin-left: 15vw;
}
.search-index {
  width: 80%;
  margin: 0 auto;
}
.search-index h1 {
  font-size: 2em;
  font-weight: 200;
  letter-spacing: 0.2em;
  margin: 2vw 0 3vw 22vw;
}
main {
  table {
  font-size: 1em;
  font-weight: 100;
  border-collapse: collapse;
  margin: 0 auto;
  min-width: 80vw;
  }
  th {
    font-weight: 200;
    text-align: left;
    padding: 5px 15px 15px 5px;
    border-bottom: solid 2px #fff;

  }
  tr:nth-child(even) {
    background-color: rgba(100, 100, 100, 0.2);
  }
  td {
    padding: 15px 6vw 15px 5px;
  }
  tr:first-child td {
    padding: 25px 6vw 15px 5px;
  }
  p {
    text-align: center;
    padding: 1vw 0;
  }
  .trash {
    display: inline-block;
    height: 42px;
    width: 34px;
    background-image: url("trash-sprite2sml.png");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
  .trash:hover {
    background-position: right;
  }
  .assignment-table {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 10vw;
  }
  .assignment-table h2 {
    font-size: 1.8em;
    font-weight: 200;
    letter-spacing: 0.1em;
    text-align: left;
    margin: 4vw 0 3vw 10%;
  }
}

.profile {
  position: relative;
  background: rgba(50, 50, 50, 0.5);
  color: #ffffff;
  max-width: 65%;
  margin: 0 auto;
  padding: 2vw;
  border-radius: 10px;
  box-sizing: border-box;
  .profile-inputs {
    padding: 3px;
    font-family: "Exo";
    font-size: 0.9em;
    display: inherit;
    width: 90%;
    margin: 2vw 12px;
  }
  h3 {
    text-align: center;
    font-size: 1.2em;
    font-weight: 100;
    margin-bottom: 2vw;
  }
  input#tutor_profile_dob {
    padding: 3px;
    font-family: "Exo";
    font-size: 0.9em;
    display: inherit;
    width: 30%;
    margin: 2vw 12px;
  }
  dt {
    padding-bottom: 1vw;
    border-bottom: 1px solid #fff;
  }
  dd {
    font-weight: 100;
    padding: 1vw 0 2.5vw 0;
  }
  a {
    font-size: 1.2em;
  }
  .message {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 11;
    -moz-border-radius: 11;
    border-radius: 11px;
    font-family: inherit;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    margin-left: 2vw;
    text-decoration: none;
  }
  .message:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }
  span {
    float: right;
  }
  figure {
    display: table;
    margin: 0 auto;
    img {
      height: 256px;
      background-position: top;
      border-radius: 50%;
    }
  }
  .connections-index {
    dt { margin-top: 2vw; }
    dd { padding: 1vw 0 0.5vw 0; }
    h4 {
      font-weight: 200;
      text-align: left;
      vertical-align: top;
      display: block;
      padding-top: 0;
    }
    p {
      text-align: left;
      vertical-align: top;
      display: block;
      padding-top: 1vw;
      margin-bottom: 3vw;
    }
    img {
      max-height: 76px;
      max-width: 76px;
      height: auto;
      width: 76px;
      float: left;
      padding-right: 2vw;
    }
    .button {
      display: inline-block;
    }
    .connections-text {
      display: inline-block;
      width: 50%;
    }
    .message {
      float: right;
    }
  }
  .map {
    dt {
      padding: 2.5vw 0 1vw 0;
      border-bottom: 1px solid #fff;
    }
    dd {
      font-weight: 100;
      padding: 1vw 0 1vw 0;
    }
  }
  #map {
    height: 30vw;
    width: 100%;
    display: inline-block;
  }
  .set-homework {
    textarea#homework_question {
      width: 97%;
      height: 15vw;
      font-size: 1em;
      font-family: "Exo";
      padding: 6px;
    }
    input#homework_due_date {
      padding: 3px;
      font-family: "Exo";
      font-size: 0.9em;
      display: inline-block;;
    }
    .message {
      margin: 2vw 0 2vw 1vw;
    }
    h3 {
      display: flex;
      text-align: left;
      margin: 0;
      font-size: 1.1em;
    }
  }
  .homework-update {
    h2 {
      font-size: 1.4em;
      margin-bottom: 2vw;
      font-weight: 200;
    }
    h3 {
      display: flex;
      text-align: left;
      margin: 0;
      font-size: 1.1em;
    }
    textarea#homework_answer.text.optional.homework-inputs {
      width: 97%;
      height: 15vw;
      font-size: 1em;
      font-family: "Exo";
      font-weight: 100;
      padding: 6px;
      margin: 0 0 3vw 0;
    }
    textarea#homework_tutor_comments.text.optional {
      width: 98%;
      height: 26vw;
      font-family: inherit;
      font-size: inherit;
    }
    input#homework_result.numeric.integer.optional {
      height: 4vw;
      font-size: inherit;
      padding: 1vw;
    }
    label.text.optional {
      font-weight: 100;
    }

    input[type="checkbox"] {
    display: inline;
    }
    .message {
      margin: 2vw 0 2vw 1vw;
    }
    .homework-results {
      h2 {
        margin: 6vw 0 2vw 0;
      }
      h3 {
        display: flex;
        text-align: left;
        margin: 0;
      }
    }
  }
}
article {
  background: linear-gradient(
      rgba(35, 50, 100, 0.95),
      rgba(50, 50, 50, 0.8));
}
article h2 {
  font-size: 2em;
  text-align: center;
  padding-top: 12vh;
  letter-spacing: 8px;
  font-weight: 200;
  padding-bottom: 6vh;
}
article p {
  font-size: 1em;
  font-weight: 100;
  letter-spacing: 0.1vw;
  width: 70%;
  margin: 0 auto;
  padding-bottom: 3vh;
}
.headshots {
  padding: 6vw 0;
  width: 80%;
  margin: 0 auto;
}
.headshots ul {
  display: inline-flex;
}
.headshots li {
  text-align: center;
  margin: 0;
  padding: 0;
}
.headshots h3 {
  font-size: 1.2em;
  font-weight: 400;
  padding: 10px;
}
.headshots img {
  height: 256px;
  background-position: top;
  border-radius: 50%;
}

input[type="checkbox"] {
  display: none;
}
input:checked + .tutor_view {
  display: inline-block;
}
.tutor_view {
  display: none;
}
.tutor_view {
  position: fixed;
  background: rgba(50, 50, 50, 1);
  color: #fff;
  width: 70%;
  left: 15%;
  top: 20%;
  padding: 3vw 0;
  z-index: 2;
  border-radius: 10px;
}

.tutor_view::before {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  content: "";
  background: rgba(0, 0, 0, .2);
}

.pricing-plans {
  display: block;
  width: 90vw;
  margin: 10vw auto;
  border-radius: 10px;
  clear: both;
  overflow: hidden;
  a:hover {
    color: #fff;
  }
  h2 {
    padding: 2vw 0;
    text-align: center;
    font-size: 1.3em;
    font-weight: 200;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  h3 {
    text-align: center;
    font-size: 1.1em;
    font-weight: 200;
  }
  ul {
    margin: 5vw 0 5vw 0;
  }
  li {
    margin: 1vw 0;
    font-size: 1.1em;
    font-weight: 100;
    text-align: center;
  }
  .strip-button-el {
    padding: 10px;
  }
  .plan-stripe {
    margin: 5vw 0;
    text-align: center;
  }
  .free-plan {
    background: rgba(255, 46, 30, 0.5);
    border-radius: 10px;
    float: left;
    width: 29vw;
    margin: 0 1vw 0 0;
    box-sizing: border-box;
    h2 {
      background: rgba(255, 46, 30, 0.8);
    }
  }
  .basic-plan {
    background: rgba(111, 85, 176, 0.5);
    border-radius: 10px;
    float: left;
    width: 29vw;
    margin: 0 1vw 0 0;
    box-sizing: border-box;
    h2 {
      background: rgba(111, 85, 176, 0.8);
    }
  }
  .premium-plan {
    background: rgba(58, 151, 68, 0.5);
    border-radius: 10px;
    float: left;
    width: 29vw;
    margin: 0 0 1vw 0;
    box-sizing: border-box;
    h2 {
      background: rgba(58, 151, 68, 0.8);
    }
  }
}


footer {
  background: #262626;
  color: #fff;
  height: 130px;
  padding-top: 1vw;
}
footer p {
  width: 70%;
  margin: 0 auto;
  font-size: 0.8em;
  font-weight: 100;
  padding: 20px;
}

@media (max-width: 900px) {
  nav {
    ul {
      font-size: 1em;
    }
    li {
      margin: 0 1vw;
      padding: 0 1vw 8px 1vw;
    }
    img {
      width: 76px;
    }
  }
  .message-index {
    margin: 0 6vw;
  }

  .search-index {
    h1 {
      margin: 1vw 0 3vw 16vw;
    }
    .search-home {
      margin-left: 10vw;
      button {
        padding: 8px 30px 14px 24px;
      }
      input[type="text"] {
        padding: 4px 14px;
      }
    }
  }
  .pricing-plans {
    .free-plan, .basic-plan, .premium-plan {
      min-height: 60vh;
    }
    h2 {
      font-size: 1.1em;
    }
    h3 {
      font-size: 1em;
    }
    ul {
      margin: 5vw 0 5vw 0;
    }
    li {
      font-size: 0.9em;
    }
  }
}
@media (max-width: 768px) {
  header h1 {
    font-size: 2em;
    text-align: center;
    /*margin-top: 30px;*/
    padding-top: 30vh;
    padding-bottom: 5vh;
    letter-spacing: 2px;
    font-weight: 200;
  }
  .search-index {
    h1 {
      margin: 1vw 0 3vw 12vw;
    }
    .search-home {
      margin-left: 8vw;
      button {
        font-size: 1.2em;
        padding: 8px 16px 10px 16px;
      }
      input[type="text"] {
        padding: 2px 6px;
        font-size: 0.9em;
        letter-spacing: 1px;
        width: 266px;
        height: 43px;
      }
    }
  }
}
